.navContainer {
  width: 100%;
  text-transform: uppercase;
  font-family: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5rem;
  color: black;
  background-color: white;
  border-bottom: 0.2rem solid rgb(37, 37, 37);

  // background-image: linear-gradient(to right, white, rgba(19, 25, 63, 0.904));
  // height: 8rem;
  position: fixed;
  top: 0;
  z-index: 100;
  margin-top: 0;
  // margin: 0;

  .navLink {
    list-style: none;
    font-size: 2.2rem;

    display: flex;
    align-items: center;
  }
  .logo {
    width: 4rem;
    cursor: pointer;
  }

  .subNavContainer {
    display: flex;
    gap: 5rem;
  }
}
