////////////REAUSABLE///////////
@mixin flexDirectionColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flexDirectionRegular {
  display: flex;
  align-items: center;
  justify-content: center;
}

////////////MARKETING///////////
.marketingContainer {
  margin: auto;
  @include flexDirectionColumn();
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.controlledVHcontainer {
  height: 50vh;
  max-width: 160rem;
  @include flexDirectionRegular();
}

.marketingImg {
  width: 35rem;
}
.miniHeader {
  font-size: 3rem;
  color: #777;
}
.marketingTextBox {
  display: flex;
  align-items: center;
  gap: 5rem;
  padding: 5rem;
  width: 100%;

  border-radius: 1rem;
  text-align: right;
}

.marketBoxMiddleSection {
  width: 100%;
  height: 25rem;
  background-color: #333;
}

.middleSectionMvmtContainer {
  @include flexDirectionColumn();
  .miniHeader {
    text-transform: uppercase;
    color: rgb(138, 164, 199);
    font-size: 3.5rem;
    font-style: italic;

    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
  }
}

.middleInView,
.market1,
.market2,
.market3,
.market4,
.market5 {
  animation: 1s ease-in 0s 1 slideUp;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    transform: translateY();
  }
}

.middleSectionText {
  font-size: 2.5rem;
  color: white;
  border-top: white solid 0.2rem;
  padding-top: 1rem;

  // MAX WIDTH 2000px
  @media (max-width: 125em) {
    font-size: 2rem;
  }
}

.marketBoxMiniContainer {
  @include flexDirectionRegular();
  width: 100%;
  gap: 10rem;
  padding: 20rem;
  border-radius: 1rem;
  background-color: rgba(29, 53, 88, 0.336);

  @media (max-width: 125em) {
    gap: 5rem;
    padding: 20rem 5rem;
  }
}

.marketBoxMini {
  @include flexDirectionColumn();
  width: 30rem;
  height: 30rem;
  padding: 5rem;
  color: white;
  background-image: linear-gradient(
    to bottom,
    rgba(49, 80, 102, 0.904),
    rgb(15, 17, 58)
  );

  box-shadow: 0.1rem 0.3rem 0.5rem rgb(20, 20, 20);
  border-radius: 100%;
  transition: ease-in-out 1s;
}

.marketIcons {
  width: 6rem;
  padding: 0.5rem;
}
