@mixin flexDirectionColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

///////////////////HOME PAGE////////////////
.homeContainer {
  height: 90vh;
  text-align: center;
  font-size: 1.8rem;
  h1 {
    font-size: 4rem;
  }
}

.welcome__container {
  padding: 4rem;
  border-bottom: 0.1rem solid darkgray;
  background-image: url("/images/welcomeBG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .welcome__textBox {
    color: black;
    background-color: rgba(255, 255, 255, 0.24);
    margin: auto;
    width: 75%;
    height: 25vh;
    padding: 3rem;
    @include flexDirectionColumn();
  }
}

.marketingContainer {
  width: 100%;
  padding: 5rem 10rem;
  height: 40vh;
  @include flexDirectionColumn();
}

///////////////////BLOGS PAGE////////////////

.blogContainer {
  max-height: 100vh;
  width: 100%;
  font-size: 1.8rem;
  @include flexDirectionColumn();

  h1 {
    font-size: 5rem;
    font-family: "Poppins";
  }
}

.searchContainer {
  border-bottom: 0.1rem solid gray;
  width: 100%;
  @include flexDirectionColumn();

  input {
    font-size: 3rem;
    margin: 2rem;
  }
}

.searchResults {
  padding: 5rem;

  &__subHeader {
    margin: auto;
    font-size: 2.8rem;
    // text-transform: uppercase;
    width: 100rem;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-items: center;
    // display: flex;
    // justify-items: left;
    // justify-content: flex-start;
    gap: 5rem;
  }

  &__results {
    padding: 2rem;
    width: 110rem;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-items: center;
    gap: 1rem;
  }
}
