@mixin flexDirectionColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

///////////////////HOME PAGE////////////////
.homeContainer {
  height: 90vh;
  text-align: center;
  font-size: 1.8rem;
  h1 {
    font-size: 4rem;
  }
}

.welcome__container {
  padding: 4rem;
  border-bottom: 0.1rem solid darkgray;
  background-image: url("/images/welcomeBG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .welcome__textBox {
    color: black;
    background-color: rgba(255, 255, 255, 0.24);
    margin: auto;
    width: 75%;
    height: 25vh;
    padding: 3rem;
    @include flexDirectionColumn();
  }
}

.marketingContainer {
  width: 100%;
  padding: 5rem 10rem;
  height: 40vh;
  @include flexDirectionColumn();
}
