@mixin flexDirectionColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

///////////////////SEARCH BLOG PAGE////////////////

.blogContainer {
  max-height: 100vh;
  width: 100%;
  font-size: 1.8rem;

  @include flexDirectionColumn();

  h1 {
    font-size: 5rem;
    font-family: "Poppins";
  }
}

.searchContainer {
  border-bottom: 0.1rem solid gray;
  padding-bottom: 5rem;
  width: 100%;
  @include flexDirectionColumn();

  select {
    font-size: 2rem;
    margin: 2rem;
    padding: 0.5rem 2rem;
  }

  input {
    font-size: 2rem;
    margin: 2rem;
    padding: 0.5rem 2rem;
  }
}

.searchResults {
  padding: 5rem;

  &__subHeader {
    margin: auto;
    font-size: 2.8rem;
    width: 120rem;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-items: left;
    gap: 2rem;

    :first-child {
      padding-left: 2rem;
    }
  }

  &__results {
    padding: 2rem;
    width: 120rem;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-items: left;
    align-items: center;
    gap: 2rem;
  }
}

///////////////////CREATE BLOG PAGE////////////////
.createBlogContainer {
  padding: 5rem;
}

.createBlog {
  &__form {
    text-align: center;
    input {
      padding: 0.5rem;
      font-size: 2rem;
      margin: 1.5rem;
    }
  }
  &__input__textArea {
    width: 100rem;
    height: 80rem;
    font-size: 2rem;
  }
}

///////////////////ACTUAL BLOG PAGE////////////////
.viewBlogContainer {
  font-size: 2rem;
}

.viewBlog {
  &__header {
    @include flexDirectionColumn();

    p {
      margin: 0;
    }

    :first-child {
      font-size: 3rem;
      font-weight: bold;
    }
    :nth-child(2),
    :nth-child(3) {
      font-size: 1.6rem;
    }
  }

  &__body {
    padding: 5rem;

    :first-child {
      text-align: center;
    }

    .image1 {
      float: left;
      margin: 1rem;
      max-width: 40rem;
      padding-top: 5rem;
    }
  }
  &__text {
    text-align: justify;
  }
}
