@mixin flexDirectionColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

///////////////////SEARCH BLOG PAGE////////////////

.blogContainer {
  padding-top: 5rem;
  max-height: 100vh;
  width: 100%;
  font-size: 1.8rem;

  @include flexDirectionColumn();

  h1 {
    font-size: 5rem;
    font-family: "Poppins";
    background-color: rgba(76, 167, 179, 0.459);
    width: 100%;
    text-align: center;
  }
}

.searchContainer {
  border-bottom: 0.1rem solid gray;
  padding-bottom: 5rem;
  width: 100%;
  @include flexDirectionColumn();

  select {
    font-size: 2rem;
    margin: 2rem;
    padding: 0.5rem 2rem;
  }

  input {
    font-size: 2rem;
    margin: 2rem;
    padding: 0.5rem 2rem;
  }
}

///////////////////CREATE BLOG PAGE////////////////
.createBlogContainer {
  padding: 5rem;
}

.createBlog {
  &__form {
    text-align: center;
    input {
      padding: 0.5rem;
      font-size: 2rem;
      margin: 1.5rem;
    }
  }
  &__input__textArea {
    width: 100rem;
    height: 80rem;
    font-size: 2rem;
  }
}

///////////////////ACTUAL BLOG PAGE////////////////
.viewBlogContainer {
  font-size: 2rem;
  height: 100vh;
}

.viewBlog {
  &__header {
    margin-top: 5rem;
    // padding: 0rem 0rem 10rem 0rem;
    border-top: 0.3rem black solid;
    border-bottom: 0.3rem black solid;
    width: 100%;
    height: 20vh;
    position: relative;
    @include flexDirectionColumn();

    p {
      margin: 0;
    }

    :first-child {
      font-size: 3rem;
      font-weight: bold;
    }
    :nth-child(2),
    :nth-child(3) {
      font-size: 1.6rem;
    }
  }

  &__headerTextContainer {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
  }
  &__background {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__body {
    max-width: 200rem;
    margin: auto;
    padding: 5rem;

    :first-child {
      text-align: center;
    }

    .image1 {
      float: left;
      margin: 1rem;
      max-width: 40rem;
    }
    .image2 {
      float: right;
      margin: 1rem;
      max-width: 40rem;
    }
  }
  &__text {
    text-align: justify;
  }
}
